// ==========================================================
// ======= Product Card ====================================
// ===========================================================
.product-card {
  display: flex;
  flex-direction: column;
  background-color: $pure-white;
  cursor: pointer;
  height: 100%; // або фіксована висота, якщо треба
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: $shadow;
  transition: all $animation-medium $animation-ease;
  @include hover-effect('product-card');
}

.product-card-img-wrapper {
  position: relative;
  width: 100%;
  // якщо треба фіксована висота — додай тут
}

.product-card-img {
	width: 100%;
	height: auto; 
	display: block;
}

.badge-sale {
	position: absolute;
	top: $space-md;
	left: $space-md;
	background: $accent-pink;
	font-size: $font-size-xs;
	font-weight: $font-weight-bold;
	color: $pure-white;
	text-transform: uppercase;
	padding: $space-xs $space-sm;
	z-index: 2;
}

.product-card-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: $space-md;
	padding: $space-md $space-sm $space-lg;
	align-items: center;
	// flex-grow: 1;
	// justify-content: space-between; 
	text-align: center;
	// flex-grow: 1;
	margin-top: auto;
}

.product-card-name {
	font-size: $font-size-md;
	font-weight: $font-weight-bold;
	color: $text-color;
}

.product-card-price {
	font-size: $font-size-md;
	font-weight: $font-weight-bold;
	color: $grey-dark;
}

// ===========================================================
//======== Sidebar Compact Product Card =========================
// ===========================================================
.sidebar-product-card {
	display: flex;
	align-items: center;
	gap: $space-lg;
	padding: $space-md 0;
	background: transparent;
	transition: background-color $animation-medium $animation-ease;
	@include hover-effect('product-card');
}

.sidebar-product-img {
	width: $photo-icon-size;
	height: auto;
	object-fit: cover;
	box-shadow: $shadow;
	flex: 0;
}

.sidebar-product-info {
	display: flex;
	flex-direction: column;
	gap: $space-xs;
	min-width: 0;
	flex: 1;
}

.sidebar-product-name {
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
}

.sidebar-product-rating {
	display: flex;
	align-items: center;
	gap: $space-xs;
	font-size: $font-size-sm;
}

.sidebar-product-price {
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
}

