@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    letter-spacing: -0.02; 
		padding-top: $space-10xl;

}
 
//============Benefits Section===========================================
.benefits {
		background-image: url('/src/assets/images/backgrounds/vector_lines.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: $footer-benefits-bg;
		padding:  $space-2xl 0; 
}
            
.benefits-main {
text-align: left;
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: $space-lg;
}

.benefits-header {
	font-size: $font-size-md;
	font-weight: $font-weight-bold;
	color: $pure-white;
}

.benefits-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: $space-xl;

	@media (max-width: $breakpoint-tablet) {
	grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $breakpoint-mobile) {
	grid-template-columns: 1fr;
	}
}

.benefits-item {
	display: flex;
	align-items: center; 
	gap: $space-xl;
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
	color: $pure-white;
}

.benefits-icon {
	width: $footer-benefits-icon-size;
	height: auto;
}

//================= Main Footer Content============================
.footer-main {
		display: grid;
		grid-template-columns: 3fr 2fr; 
		gap: $space-xl $space-10xl;
		padding-block: $space-5xl $space-4xl;
		font-size: $font-size-sm;
		font-weight: $font-weight-normal;
		line-height: $line-height-loose;
		color: $text-color;

		 a { @include hover-effect('footer'); }
}

.footer-heading {
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	line-height: $line-height-loose;
	margin-bottom: $space-md;
	@include hover-effect('footer');
}

.footer-columns-group {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: $space-lg; 

		// @media (max-width: $breakpoint-tablet) {
		//     grid-template-columns: repeat(2, 1fr);
		//     gap: $space-xl;
		//     padding-top: $space-2xl;
		//     padding-bottom: $space-2xl;
		// }
		
		// @media (max-width: $breakpoint-mobile) {
		//     grid-template-columns: 1fr;
		//     gap: $space-lg;
		//     padding-top: $space-xl;
		//     padding-bottom: $space-xl;
		// }
}
                    
.contact-column {
	grid-row: span 2; 
	
	// @media (max-width: $breakpoint-tablet) {
	//     grid-column: 1 / -1;
	//     grid-row: auto;
	// } 
	// }

	.contact-info {
		margin-top: $space-4xl;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: $space-lg;
		
		// @media (max-width: $breakpoint-mobile) {
		//     grid-template-columns: 1fr;
		//     gap: $space-md;
		// }

		.contact-item {
			display: flex;       
			align-items: center;
			gap: $space-md;
			
			// @media (max-width: $breakpoint-mobile) {
			//     gap: $space-sm;
			// }

			span {
				font-size: $font-size-sm;
				font-weight: $font-weight-normal;
				line-height: $line-height-loose;
			}
		}
	}
}

// Copyright text utility
.copyright-text {
	letter-spacing: 0;
	font-size: $font-size-xs;
	font-weight: $font-weight-normal;
	line-height: $line-height-single;
	color: $copyright-text-color;
	padding-block: $space-md;
	text-align: center;
}
