@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// =====================================================================
// About Page Styles
// =====================================================================

// =========Title Banner===============================================
.title-section {
	@include banner("/src/assets/images/backgrounds/banner-about.png");
	padding-block: $space-10xl;
	
	@media (max-width: $breakpoint-tablet) {
		padding-block: $space-5xl;
	}
	
	@media (max-width: $breakpoint-mobile) {
		padding-block: $space-5xl;
	}
}

.page-content {
	padding-top: $space-5xl;
	display: flex;
	flex-direction: column;
	gap: $space-5xl;
	width: 100%;
}

// ========Features Section===============================================
.features-details {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax($grid-min-lg, 1fr));
	justify-content: space-between;
	gap: $space-4xl;
	
	@media (min-width: $breakpoint-desktop) {
		grid-template-columns: repeat(4, 1fr);
	}
	
	@media (max-width: $breakpoint-tablet) {
		gap: $space-2xl;
		grid-template-columns: repeat(auto-fit, minmax($grid-min-sm, 1fr));
	}
	
	@media (max-width: $breakpoint-mobile) {
		grid-template-columns: 1fr 1fr;
		gap: $space-xl;
	}
}

.feature-item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: $space-dl;
	@include hover-effect('feature-icon');

	.feature-icon {
		width: $space-5xl;
		height: auto;
	}

	.feature-title {
		font-size: $font-size-md;
		font-weight: $font-weight-bold;
		color: $grey-dark;
	}

	.feature-text {
		font-size: $font-size-sm;
		font-weight: $font-weight-normal;
		color: $grey-dark;
	}
}

// ========Offer Section===============================================
.offer-banner {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.offer-text-about {
	@include section-styles('about-offer');
}

// ========Team Section===============================================
.team-section {
	display: flex;
	flex-direction: column;
	gap: $space-3xl;
}

.underlined {
	// @include font-parameters($font-size-2xl, $font-weight-black, $color: $text-color);
	text-align: center;
	margin-bottom: $space-lg;
	width: fit-content;
	margin: 0 auto;
}

.team-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($grid-min-xl, 1fr));
	gap: $space-3xl;
	text-align: center;
	width: 100%;
	
	@media (min-width: $breakpoint-desktop) {
		grid-template-columns: repeat(3, 1fr);
	}
	
	@media (max-width: $breakpoint-tablet) {
		gap: $space-2xl;
	}
	
	@media (max-width: $breakpoint-mobile) {
		grid-template-columns: 1fr;
		gap: $space-xl;
	}

	.team-member {
		width: 100%;
		@include hover-effect('people-card');
	}
}
