// ================Catalog Page Styles===============
// =================================================
// ==========Filters Section========================
.divider {@include divider($accent-pink );};

body.anti-hover {
	pointer-events: none;
}

.filters-grid {
    @include responsive-size(padding, $space-lg 0);
    @include responsive-size(gap, $space-lg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min-grid-width-4el, 1fr));

    .filter-labeled {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; // Виправлено з flex-beetween на flex-start
        @include responsive-size(gap, $space-sm);

        label {
            @include font-parameters(
                $font-size-sm, 
                $font-weight-bold, 
                $color: $grey-dark);
        }
    }
}

.filter-buttons {
    display: flex;
    @include responsive-size(gap, $space-md);
    justify-content: flex-start;
    @include responsive-size(margin, $space-xl 0);

    .filter-resume-btn {
        @include button('btn-base');
    }
}

// =============== Page Layout=======================
.catalog-page-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    @include responsive-size(gap, $space-lg);
}

// ================Main Products Area=======================
.product-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax($space-3xl, 1fr));
		@include responsive-size(gap, $space-xl $space-lg);
		@include responsive-size(margin-bottom, $space-lg);
		width: 100%;
		min-width: 0;
		transition: opacity $animation-medium $animation-ease;
		&.loading {
				opacity: 0.5;
		}
}

// ==========Sort and Search Line========================
.sort-search-line {
		color: $grey-dark;
		display: flex;
		justify-content: space-between;
		align-items: center;
}

//============= Sidebar===============================
.sidebar h3 {
		@include font-parameters($font-size-md, $font-weight-black);
		@include responsive-size(margin-bottom, $space-md);
}

.random-products-list {
		display: flex;
		flex-direction: column;
		@include responsive-size(gap, $space-lg);
}


