// ================ Product Details Page ================
// ====================================================
// ===============Main Product Section=================
.product-main {
  display: grid;
	grid-template-columns: 1fr 1fr;

	@include responsive-size(gap, $space-2xl);
	@include responsive-size(padding, $space-2xl 0);

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    gap: $space-2xl;
  }
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;

	@include responsive-size(gap, $space-md);
}

// =================Product Image=================
#product-main-image {
  width: 100%;
}

#image-thumbnails {
  display: grid;
	grid-template-columns: repeat(4, 1fr);

 	@include responsive-size(gap, $space-md);
	
	img {
		@include hover-effect('thumbnail');
	}
}

// ===========Main Product Info=================
.product-info {
  // flex: 1 1 0;
  display: flex;
  flex-direction: column;
	text-align: start;

	@include responsive-size(gap, $space-xl);
}

.product-price {
  @include font-parameters(
		$font-size-md, 
		$font-weight-bold, 
		$line-height-base, 
		$text-color
	);
}

.product-description {
  @include font-parameters(
		$font-size-sm, 
		$font-weight-normal, 
		$line-height-base, 
		$grey-dark
	);

	p {
		margin-bottom: $space-md;
	}
}

// ==========Product Filters=================
.filter-label {
	@include font-parameters(
		$font-size-sm, 
		$font-weight-bold, 
		$line-height-base, 
		$grey-dark);
}

.product-buttons-section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: fit-content;

	@include responsive-size(gap, $space-xl);
}

// ===========Tabs Section======================
.tab-pane {
  @include font-parameters(
		$font-size-sm, 
		$font-weight-normal, 
		$line-height-loose, 
		$text-color);

		padding-block: $space-2xl;
}

.review-form-container {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@include responsive-size(gap, $space-2xl);
}

.review-item {
	padding: $space-2xl 0;
	display: grid;
	grid-template-columns: 1fr 5fr;

	// gap: $space-lg;
}

.review-meta {
	display: flex;
	flex-direction: column;
	text-align: start;
	gap: $space-sm;
	padding: 0 $space-xl;
}

.review-header-info {
	display: flex;
	justify-content: space-between;
	gap: $space-2xl;
	color: $grey;
	
	.review-author {
			color: $grey-dark;
	}
}

.rate-product-section {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: $space-md;
	cursor: pointer;
}

.star {
  color: $stars-grey-color; 
}

.star.active {
  color: $stars-color; 
}

