<footer class="footer">

	<div class="benefits">
		<div class="benefits-main container">
			<h2 class="benefits-header">Our Benefits</h2>
			<ul class="benefits-list">
				<li class="benefits-item">
					<img src="assets/images/icons/footer_1.svg" alt="Quality Service" class="benefits-icon">
					<p>Velit nisi sodales eget donec quis. volutpat orci.</p>
				</li>
				<li class="benefits-item">
					<img src="assets/images/icons/footer_2.svg" alt="Fast Shipping" class="benefits-icon">
					<p>Dolor eu varius. Morbi fermentum velit nisi.</p>
				</li>
				<li class="benefits-item">
					<img src="assets/images/icons/footer_3.svg" alt="Secure Payment" class="benefits-icon">
					<p>Malesuada fames ac ante ipsum primis in faucibus.</p>
				</li>
				<li class="benefits-item">
					<img src="assets/images/icons/footer_4.svg" alt="Customer Support" class="benefits-icon">
					<p>Nisl sodales eget donec quis. volutpat orci.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="footer-main container">
								
		<div class="footer-columns-group">
			<div class="footer-column">
				<a href="pages/about.html"><h3 class="footer-heading">About Us</h3></a>
				<ul>
					<li><a href="#">Organisation</a></li>
					<li><a href="#">Partners</a></li>
					<li><a href="#">Clients</a></li>
				</ul>
			</div>

			<div class="footer-column">
				<a href="#"><h3 class="footer-heading">Interesting Links</h3></a>
				<ul>
					<li><a href="#">Photo Gallery</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Socials</a></li>
				</ul>
			</div>
					
			<div class="footer-column">
				<a href="#"><h3 class="footer-heading">Achievements</h3></a>
				<ul>
					<li><a href="#">Winning Awards</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">Our Amazing Clients</a></li>
				</ul>
			</div>
		</div>
		
		<div class="contact-column">
					<a href="pages/contact.html"><h3 class="footer-heading">Contact Us</h3></a>
					<p>Bendüm dolor eu varius. Morbi fermentum vellitsodales egetonec, volutpat orci. Sed ipsum felis, tristique egestas et, convallis ac velit consequat nec luctus.</p>
					<div class="contact-info">
							<div class="contact-item">
									<img src="assets/images/icons/phone.svg"  alt="Phone icon" class="contact-icon">
									<span>Phone: (+63) 236 6322</span>
							</div>
							<div class="contact-item">
									<img src="assets/images/icons/email.svg"  alt="Email icon" class="contact-icon">
									<span>public@news.com</span>
							</div>
							<div class="contact-item">
									<img src="assets/images/icons/watch.svg" alt="Time icon" class="contact-icon">
									<span>Mon - Fri: 10am - 6pm<br>Sat - Sun: 10am - 6pm</span>
							</div>
							<div class="contact-item">
									<img src="assets/images/icons/map.svg"  alt="Address icon" class="contact-icon">
									<span>639 Jade Valley,<br> Washington Dc</span>
							</div>
					</div>
		</div>
	
		<div class="info-box">
				<a href="#"><h3 class="footer-heading">Shipping Information</h3></a>
				<p>Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh rhoncus varius in non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien, vel finibus erat felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.</p>
		</div>

	</div>
	
	<p class="copyright-text">&copy; Copyright 2025</p>

</footer>
