@import './abstracts/_variables';
@import './abstracts/_mixins';
@import './base/_fonts';
@import './base/_reset';
@import './components/_buttons';
@import './components/_product-card';
@import './components/_forms';
@import './layouts/_header';
@import './layouts/_footer';
@import './pages/_about';
@import './pages/_catalog';
@import './pages/_product-details';
@import './pages/_cart';

// =========Page Layout===============================================
.container {
  max-width: $container-width;
  margin: 0 auto;

  @include responsive-size(padding-inline, $container-padding,$tablet-reduction:0.5, $mobile-reduction:0.75);
}

.page-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	margin: 0 auto;
	gap: $space-3xl;
}

// =========Offer Section Grid===============================================
.offer-2-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	
	@media (width <= 768px) {
		grid-template-columns: 1fr;
		margin-top: $space-xl;
		padding: $space-lg;
	}
}

// =========Product Grid Section===============================================
.product-grid-product-render {
	padding-top: $space-3xl;
	cursor: pointer;
	align-self: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: $space-3xl;
}

// =========Hero Section===============================================
.hero-section {
	position: relative;
	background-color: $main-hero-bg;
	cursor: pointer;

	.hero-content {
		@include flex-responsive;

		align-items: center;
		justify-content: space-between;

		@include responsive-size(gap, $space-dl);     
	}

	.hero-text-block {
		@include section-styles('hero');
	}

	.hero-suitcase {
		@include responsive-size(padding-block, $space-5xl);
		@include hover-effect('hero-image');
	}
}

// ========Main Banner Section===============================================
.main-banner{
	background-color: $pure-white;
	margin-top: $main-offer-up-margin;
	z-index: 3;
	box-shadow: $shadow;

	.main-banner-1 {
		@include section-styles('main-news');

		.profile {
		@include flex-responsive;
		@include responsive-size(gap, $space-lg);

		align-items: center;

			.profile-info {
					// @include font-parameters($main-offer-athor-title);

				.profile-name {
						@include font-parameters($font-size-md, $font-weight-bold);
					}
			}
		}
	}
			
	.main-banner-2 {
		@include section-styles('offer-white');
		@include shaded-background("../assets/images/backgrounds/offer1.png");
	}
}

.profile-icon {
    width: $photo-icon-size;
    height: auto;
}

// New slider styles

.travel-slider-container {
	padding-top: $space-3xl;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-grid-width-3el, 1fr));
  align-items: center;
  gap: $space-lg;
  position: relative;
}

.travel-slide {
		height: $slide-height;
		background-size: cover;
		color: $pure-white;
		transition: transform 10s $animation-ease, 
								box-shadow 2s $animation-ease;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: $space-2xl;

		@include hover-effect('travel-slide');
}

// ========Main Offer Section===============================================
.main-offer-section {
	@include shaded-background("../assets/images/backgrounds/offer2.png");
		
		.main-offer-1 {
			@include section-styles('offer-banner');
		}

		.main-offer-2 {
			@include section-styles('offer-white');
		}
}

// ======Testimonials Section===============================================
.testimonials-grid {
	padding-top: $space-3xl;

	@include grid-responsive($min-grid-width-3el);
	@include responsive-size(gap, $space-3xl);

	.testimonial-card {
		@include flex-responsive;

		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: $space-lg;
		padding: $space-2xl;
		background: $pure-white;
		box-shadow: $shadow;

		@include hover-effect('people-card');

		.testimonial-author {
			@include font-parameters(
				$font-size-md, 
				$font-weight-bold,
				$color: $accent-pink);
		}
	}
}
